@media only screen and (max-height: 400px){
    .navigation{
        background-color: rgba(0,0,0, .7);
        padding: 20px 0 0 20px;
        width: 40%;
        height: 100%;
    }
    .navigation .logo text{
        stroke: red;
        fill: white;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        color: white;
    }
    .navigation ul{
        padding: 20px 0 20px 20px;
        width: 100%;
        color: white;
        font-size: 20px;
    }
    .navigation ul li{
        cursor: pointer;
        padding: 15px 0 0 0;
        transition: all .3s;
    }
    .navigation ul li:last-child{
        padding: 15px 0 15px 0;
    }
    .navigation ul li:hover{
        color: lightgray;
    }
    
    .changeLang{
        position: absolute;
        top: 0px;
        right: 0px;
        width: auto;
        background-color: rgba(0,0,0, .7);
        margin: 0 0 0 0;
    }
    
    .select{
        display: flex;
    }

    .changeLang .option{
        display: flex;
        cursor: pointer;
        transition: all .5s;
        font-size: 20px;
        padding: 20px 0px 20px 20px;
        color: white;
    }
    .changeLang .option:last-child{
        padding: 20px 20px 20px 20px;
    }
    .changeLang .option:hover{
        color: lightgray;
    }
    .changeLang .option span{
        color: red;
        font-size: 20px;
        font-weight: bold;
        padding: 0 0 0 10px;
    }
}