html, body{
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.container{
    position: relative;
    width: inherit;
    height: inherit;
}

.cube{
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
}

.side{
    position: absolute;
    width: inherit;
    height: inherit;
    font-size: 30px;
    text-align: center;
}
.front{
    transform: translateZ(0px);
    border: solid 10px brown;
}
.back{
    border: solid 10px green;
}
.right{
    border: solid 10px blue;
}
.left{
    border: solid 10px black;
}