@media only screen and (max-width: 900px){
    .containerAboutUs{
        height: 100%;
        width: 100%;
        overflow: auto;
        background-image: url();
        background-size: cover;
    }

    .contentAboutUs{
        width: 100%;
    }

    .blockTitleAboutUs{
        padding: 0 0 0 15%;
        color: white;
        font-size: 100px;
        margin: 0 0 -18px 0;
    }

    .blockContentAboutUs{
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        padding: 20px 20px 10px 20px;
    }

    .descriptionAboutUs{
        font-size: 18px;
        text-align: justify;
        line-height: 1.2;
        margin: 0 0 20px 0;
        letter-spacing: .5px;
    }

    .blockOfferAboutUs>.titleOfferAboutUs{
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 20px 0;
    }

    .offersAboutUs>div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
    }

    .offersAboutUs>div:nth-child(1)>div:first-child{
        background-image: url('../../img/responsive.png');
    }

    .offersAboutUs>div:nth-child(2)>div:first-child{
        background-image: url('../../img/hello.png');
    }

    .offersAboutUs>div:nth-child(3)>div:first-child{
        background-image: url('../../img/design.png');
    }

    .offersAboutUs>div:nth-child(4)>div:first-child{
        background-image: url('../../img/ok.png');
    }

    .offersAboutUs>div:nth-child(5)>div:first-child{
        background-image: url('../../img/learn.png');
    }

    .offersAboutUs>div:nth-child(6)>div:first-child{
        background-image: url('../../img/setings.png');
    }

    .offersAboutUs>div>div:first-child{
        width: 80px;
        height: 80px;
        background-size: cover;
    }

    .offersAboutUs>div>h3{
        font-size: 25px;
        font-weight: bold;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 1rem 2rem 1rem 2rem;
        background-image: url('../../img/bgText.svg');
    }

    .offersAboutUs>div>p{
        font-size: 18px;
        text-align: justify;
        width: 100%;
        padding: 10px 0 20px 0;
        line-height: 1.2;
        letter-spacing: .5px;
    }
}