.containerServices{
    width: 100%;
    height: 100%;
    background-image: url('../../img/mainFirst.png');
    background-size: cover;
}

.contentServices{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.blockTitleServices{
    padding: 0 0 0 15%;
    color: white;
    font-size: 120px;
    margin: 0 0 -18px 0;
}

.blockContentServices{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 0 20px 0;
    transition: all .5s;
}

/* {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0.5rem 2rem;
    background-image: url('../img/bgText.svg');
} */
